@import '../../app.variables.scss';

.form-container {
  margin: 8px 0;
  width: 100%;
}

.card {
  &-container--relative {
    width: 100%;
    position: relative;
  }

  &-container--bmargin {
    margin-bottom: 20px;
  }
  
  &-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 320px;
    max-width: 380px;
  }

  &-title--center {
    text-align: center;
  }

  &__spinner {
    margin: auto;
  }

  &-loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, if($is-dark-theme, 0.6, 0.8));
  }

  &-footer {
    display: flex;
    margin: 0;
    font-size: 1.4rem;

    &--end {
      justify-content: flex-end;
      align-items: center;
    }

    &--center {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--absolute-bottom {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: calc(100% - 32px); //100% - 2*16px
    }
  }

  &-button {
    margin: 0 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__info {
    margin-bottom: 5px;
  }
}
