@import '../../app.variables.scss';

.dialog {
  &__content {
    display: flex;
    flex-direction: column;
  }
 
  &__footer {
    margin-bottom: -15px;
    justify-content: flex-end;
  }

  &__btn {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    
    @media($small-width) {
      & {
        margin-left: 20px;
        margin-bottom: 0px;
      }
    }
  }
}

.mat-dialog-title {
  margin-bottom: 10px;
}