@import '../../app.variables.scss';

.form-container {
  margin: 10px 0;
  width: 100%;

  .mat-form-field-wrapper {
    padding: 5px 0;
  }
}

.card-container {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  @media ($small-width) {
    & {
      width: 80%;
    }
  }

  @media ($middle-width) {
    & {
      width: 60%;
    }
  }

  @media ($large-width) {
    & {
      width: 50%;
    }
  }
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @media ($middle-width) {
    & {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.card-loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.card-button {
  margin: 0 10px;

  &:last-child {
    margin: 0;
  }
}

.mobile-table-label {
  width: 120px;
  min-width: 120px;
  display: inline-block;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  min-height: 40px;
  vertical-align: middle;
  line-height: 40px;
  margin-right: 24px;
  font-size: 1.4rem;

  @media($small-width) {
    & {
      display: none;
    }
  }
}
