@import '../../app.variables.scss';

.loading-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 30px;

  @media ($middle-width) {
    & {
      width: 80%;
      margin: 30px auto 0;
    }
  }
}

.mobile-table-label {
  width: 120px;
  min-width: 120px;
  display: inline-block;
  font-weight: bold;
  border-right: 1px solid if($is-dark-theme, $light-dividers, $dark-dividers);
  min-height: 40px;
  vertical-align: middle;
  line-height: 40px;
  margin-right: 24px;
  font-size: 1.4rem;

  @media($small-width) {
    & {
      display: none;
    }
  }
}
