@import '../../../app.variables.scss';

.visits__header {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  
  @media($small-width) {
    & {
      flex-direction: row;
      align-items: center;
    }
  }
}