<mat-card class="card-container--relative card-container--bmargin">
  <mat-card-title class="card-title" [style.marginBottom.px]="10"
    >Ustal niedostępne dni wizyt</mat-card-title
  >
  <mat-divider></mat-divider>
  <form (ngSubmit)="addDate()" [style.marginBottom.px]="50">
    <mat-card-content>
      <mat-chip-list #chipList aria-label="Wybór niedostępnych dni wizyt">
        <mat-chip
          *ngFor="let date of disabledDates"
          [selectable]="true"
          [removable]="true"
          (removed)="removeDate(date)"
        >
          {{ date }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div class="flex">
        <mat-form-field class="schedule__input date__input">
          <input
            matInput
            [matDatepicker]="dp"
            placeholder="Wybierz datę"
            [formControl]="dateFormControl"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error
            *ngIf="
              dateFormControl.hasError('invalid-date') &&
              !dateFormControl.hasError('required') &&
              dateFormControl.touched
            "
          >
            Musisz wybrać aktualną datę
          </mat-error>
          <mat-error
            *ngIf="
              dateFormControl.hasError('required') && dateFormControl.touched
            "
          >
            Aktualna data jest wymagana
          </mat-error>
        </mat-form-field>
        <div class="schedule__btn-wrapper">
          <button
            type="submit"
            mat-raised-button
            color="accent"
            class="schedule__btn-add"
            [disabled]="dateFormControl.invalid"
          >
            Dodaj
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer
      class="card-footer card-footer--end card-footer--absolute-bottom"
    >
      <mat-icon *ngIf="unsavedChanges" color="warn" class="schedule__unsaved">
        warning
      </mat-icon>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="update.emit(disabledDates)"
        class="card-button"
      >
        Zapisz zmiany
      </button>
    </mat-card-footer>
  </form>
  <app-loading-spinner *ngIf="pending"></app-loading-spinner>
</mat-card>
