.time-input {
  width: 105px;
  margin: 8px 0;
  font-size: 1.8rem;
}

.btn__time-add-wrapper {
  display: inline-block;
  margin: 8px 0;
  padding-top: calc(1.25em - 2px);
}

.btn__time-add {
  margin-left: 10px;
}

:host ::ng-deep .mat-chip-list-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
}

:host ::ng-deep .mat-card .mat-divider-horizontal {
  position: static;
}