@import '../../../app.variables.scss';

:host {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: auto;
  width: 100%;

  &:first-of-type {
    padding-left: 0px;
  }
}

@media ($small-width) {
  :host {
    min-height: inherit;

    &:first-of-type {
      padding-left: 24px;
    }

    &:first-of-type.is-visit-cell.is-doctor {
      max-width: #{map-get($filter-table-width, 'select')};
    }

    &:nth-of-type(5n).is-visit-cell.is-doctor {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:nth-of-type(3n).is-visit-cell.is-doctor {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n).is-visit-cell {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n).is-visit-cell.is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n).is-visit-cell.is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n).is-visit-cell {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:last-of-type {
      max-width: #{map-get($filter-table-width, 'actions')};
      padding-right: 24px;
    }

    &:last-of-type .filter-container {
      padding-right: 0;
    }
  }
}
