@import '../../../app.variables.scss';

.visits__status {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.mat-amber {
  color: $amber;
}

.mat-success {
  color: $success;
}

.mat-warn {
  color: $warn;
}