@import '../../../app.variables.scss';

.mat-header-row {
  display: none;

  @media ($small-width) {
    & {
      display: flex;
    }
  }
}

.mat-row {
  flex-direction: column;
  align-items: start;
  padding: 20px 24px;

  @media ($small-width) {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  &::after {
    min-height: auto;

    @media ($small-width) {
      & {
        min-height: inherit;
      }
    }
  }
}

.mat-cell {
  min-height: auto;
  width: 100%;

  @media ($small-width) {
    & {
      min-height: inherit;
    }
  }

  &:first-of-type {
    padding: 0px;
    @media ($small-width) {
      & {
        padding-left: 24px;
      }
    }
  }
}

.mat-header-cell,
.mat-cell {
  @media ($small-width) {
    &:first-of-type.is-doctor {
      max-width: #{map-get($filter-table-width, 'select')};
    }

    &:nth-of-type(3n).is-doctor {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n) {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n).is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n).is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n) {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:nth-of-type(5n).is-doctor {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:last-of-type {
      max-width: #{map-get($filter-table-width, 'actions')};
    }
  }
}

:host ::ng-deep .visits__row {
  background: if(
    $is-dark-theme,
    map-get($mat-dark-theme-background, card),
    map-get($mat-light-theme-background, card)
  );
  padding: 8px 24px;
  border-bottom: 1px solid if($is-dark-theme, $light-dividers, $dark-dividers);
}
