<div class="loading-wrapper">
  <mat-table [dataSource]="visits" class="visits">
    <ng-container cdkColumnDef="select">
      <mat-header-cell
        *cdkHeaderCellDef
        [class.is-doctor]="isDoctor && isCurrentTab"
        >Zaz.</mat-header-cell
      >
      <mat-cell
        *cdkCellDef="let row"
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        <span class="mobile-table-label">Zaz.</span>
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="date">
      <mat-header-cell
        *cdkHeaderCellDef
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        Data
      </mat-header-cell>
      <mat-cell
        *cdkCellDef="let row"
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        <span class="mobile-table-label">Data:</span>
        {{ row.visitDate | date: 'dd/MM/yyyy' }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="time">
      <mat-header-cell
        *cdkHeaderCellDef
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        Godzina
      </mat-header-cell>
      <mat-cell
        *cdkCellDef="let row"
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        <span class="mobile-table-label">Godzina:</span>
        {{ row.visitDate | date: 'HH:mm' }}
      </mat-cell>
    </ng-container>

    <ng-container *ngIf="isDoctor; else patientCell" cdkColumnDef="patient">
      <mat-header-cell
        *cdkHeaderCellDef
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        Pacjent
      </mat-header-cell>
      <mat-cell
        *cdkCellDef="let row"
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        <span class="mobile-table-label">Pacjent:</span>
        <img
          [src]="row.patient?.avatar"
          alt="{{ row.patient?.name }} {{ row.patient?.surname }}"
          style="height: 30px; width: 30px; margin-right: 5px; min-width: 30px; min-height: 30px;"
        />
        <span class="table__cell" title="{{ row.patient?.name }} {{ row.patient?.surname }}">
          <span class="word-ellipsis" [style.marginRight.px]="3">{{ row.patient?.name }}  </span>
          <span class="word-ellipsis">{{ row.patient?.surname }}</span></span
        >
      </mat-cell>
    </ng-container>

    <ng-template #patientCell>
      <ng-container cdkColumnDef="patient">
        <mat-header-cell
          *cdkHeaderCellDef
          [class.is-doctor]="isDoctor && isCurrentTab"
        >
          Doktor
        </mat-header-cell>
        <mat-cell
          *cdkCellDef="let row"
          [class.is-doctor]="isDoctor && isCurrentTab"
        >
          <span class="mobile-table-label">Doktor:</span>
          <img
            [src]="row.doctor?.avatar"
            alt="{{ row.doctor?.name }} {{ row.doctor?.surname }}"
            style="height: 30px; width: 30px; margin-right: 5px; min-width: 30px; min-height: 30px;"
          />
          <span class="table__cell">
            <span class="word-ellipsis">{{ row.doctor?.name }} </span>
            <span class="word-ellipsis">{{ row.doctor?.surname }}</span></span
          >
        </mat-cell>
      </ng-container>
    </ng-template>

    <ng-container cdkColumnDef="status">
      <mat-header-cell
        *cdkHeaderCellDef
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        Status
      </mat-header-cell>
      <mat-cell
        *cdkCellDef="let row"
        [class.is-doctor]="isDoctor && isCurrentTab"
      >
        <span class="mobile-table-label">Status:</span>
        <app-visits-status [status]="row.status">{{
          row.status | visitStatus
        }}</app-visits-status>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef> Akcje </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span class="mobile-table-label">Akcje:</span>
        <button mat-flat-button color="primary" (click)="showMore(row)" matTooltip="Zobacz więcej">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <button
          *ngIf="!isDoctor && row.status === 'reserved'"
          mat-flat-button
          color="warn"
          matTooltip="Usuń rezerwację"
          (click)="cancelVisit(row)"
          [style.marginLeft.px]="5"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container *cdkHeaderRowDef="displayedColumns">
      <mat-header-row></mat-header-row>
      <app-visits-filter
        [anyRowHasValue]="selection.hasValue()"
        [allRowsHaveValue]="isAllSelected()"
        [filter]="filter"
        [isDoctor]="isDoctor"
        (onSelectBtnClicked)="masterToggle($event)"
        (onFilterChanged)="filterChanged($event)"
      ></app-visits-filter>
    </ng-container>

    <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div *ngIf="visits?.length === 0" class="table__row">
    Brak wizyt
  </div>
  <app-doctor-action
    *ngIf="isDoctor && isCurrentTab && visits?.length !== 0"
    [anyRowHasValue]="selection.hasValue()"
    (modifyVisitsStatus)="modifyVisitsStatus($event)"
  ></app-doctor-action>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="filter && filter.limit"
    [pageIndex]="filter && filter.currentPage - 1"
    showFirstLastButtons
    [length]="totalItems"
    (page)="changePaginator($event)"
  ></mat-paginator>
  <div *ngIf="pending" class="card-loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
