@import '../../../app.variables.scss';

.mat-header-cell,
.mat-cell {
  @media ($small-width) {
    &:first-of-type.is-doctor {
      max-width: #{map-get($filter-table-width, 'select')};
    }

    &:nth-of-type(3n).is-doctor {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n) {
      max-width: #{map-get($filter-table-width, 'time')};
    }

    &:nth-of-type(2n).is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n).is-doctor {
      max-width: none;
    }

    &:nth-of-type(4n) {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:nth-of-type(5n).is-doctor {
      max-width: #{map-get($filter-table-width, 'status')};
    }

    &:last-of-type {
      max-width: #{map-get($filter-table-width, 'actions')};
    }
  }
}
