<mat-card class="card-container card-container--relative" [style.maxWidth.px]="380">
  <mat-card-title class="card-title--center">Resetuj hasło</mat-card-title>
  <div class="card__spinner" *ngIf="_pending">
    <mat-spinner class="mat-spinner__form" [diameter]="25"></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
     
      <mat-form-field class="form-container">
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        <mat-error
          *ngIf="
            form.get('email').hasError('required') && form.get('email').touched
          "
        >
          Email jest wymagany
        </mat-error>
        <mat-error
          *ngIf="
            form.get('email').hasError('email') && form.get('email').touched
          "
        >
          Email jest niepoprawny
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer class="card-footer card-footer--center">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        [style.width.%]="100"
      >
        Resetuj hasło
      </button>
    </mat-card-footer>
  </form>
</mat-card>
