@import './app.variables.scss';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: map-get($toolbar-height, 'xsmall');

  @media ($presmall-width) {
    & {
      top: map-get($toolbar-height, 'small');
    }
  }
}

