<app-toolbar
  [opened]="showSidenav$ | async"
  (openSidenav)="openSidenav()"
  (closeSidenav)="closeSidenav()"
  [showMenu]="(media$ | async)[XSmall]"
>
  <app-notification *ngIf="loggedIn$ | async"></app-notification>
  <app-menu *ngIf="loggedIn$ | async" [avatar]="profile?.avatar">
    <button mat-menu-item routerLink="/account">Moje konto</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <button mat-menu-item (click)="logout()">Wyloguj</button>
  </app-menu>
  <app-sign-menu [loggedIn]="loggedIn$ | async"></app-sign-menu>
</app-toolbar>
<app-sidenav-container
  [showSidenav]="showSidenav$ | async"
  [loggedIn]="loggedIn$ | async"
  (closeSidenav)="closeSidenav()"
></app-sidenav-container>
