<mat-card class="card-container--relative">
  <form #form="ngForm" [formGroup]="passwords" (ngSubmit)="changePassword()" [style.marginBottom.px]="80" novalidate>
    <mat-card-content>
      <mat-form-field class="form-container">
        <input
          type="password"
          matInput
          placeholder="Aktualne hasło"
          formControlName="oldPassword"
        />
        <mat-error
          *ngIf="
            passwords.get('oldPassword').hasError('required') &&
            passwords.get('oldPassword').touched
          "
        >
          Aktualne hasło jest wymagane
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-container">
        <input
          type="password"
          matInput
          placeholder="Nowe hasło"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            passwords.get('password').hasError('required') &&
            passwords.get('password').touched
          "
        >
          Nowe hasło jest wymagane
        </mat-error>
        <mat-error
          *ngIf="
            passwords.get('password').touched &&
            passwords.get('password').hasError('invalid-password') &&
            !passwords.get('password').hasError('required')
          "
        >
          Hasło musi składać z conajmniej 8 znaków i zawierać przynajmniej jedną
          cyfrę
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-container">
        <input
          type="password"
          matInput
          placeholder="Powtórz nowe hasło"
          formControlName="confirmPassword"
        />
        <mat-error
          *ngIf="
            passwords.get('password').touched &&
            passwords.hasError('nomatch-passwords') &&
            !passwords.get('confirmPassword').hasError('required')
          "
        >
          Hasła muszą być takie same
        </mat-error>
        <mat-error
          *ngIf="
            passwords.get('confirmPassword').hasError('required') &&
            passwords.get('confirmPassword').touched
          "
        >
          Nowe hasło jest wymagane
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer class="card-footer card-footer--end card-footer--absolute-bottom">
      <button type="button" mat-button routerLink="/" class="card-button">Anuluj</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="card-button"
        [disabled]="passwords.invalid"
      >
        Zapisz nowe hasło
      </button>
    </mat-card-footer>
  </form>
  <div *ngIf="pending" class="card-loading">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
