@import '../../../app.variables.scss';

.form-profile {
  display: flex;
  flex-direction: column;

  @media ($small-width) {
    & {
      flex-direction: row;
    }
  }
}

.form-col {
  width: 200px;
  margin-right: 20px;
}

.mat-card {
  @media ($middle-width) {
    & {
      margin-bottom: 0px;
    }
  }
}