@import '../../../app.variables.scss';

.schedule {
  &__input {
    margin: 8px 0;
    font-size: 1.8rem;
  }

  &__btn-wrapper {
    display: inline-block;
    margin: 8px 0;
    padding-top: calc(1.25em - 2px);
  }

  &__btn-add {
    margin-left: 10px;
  }

  &__unsaved {
    margin-right: 5px;
  }
}

:host ::ng-deep .mat-chip-list-wrapper {
  margin-top: 10px;
  margin-bottom: 5px;
}

:host ::ng-deep .mat-card .mat-divider-horizontal {
  position: static;
}