@import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'app/app.variables.scss';
@import 'app/app.theme.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
}

dl {
  margin: 0;
  padding-right: 20px;
}

dd {
  margin-left: 0;
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
  margin-bottom: 3px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-sm-50 {
  @media ($small-width) {
    & {
      width: 50%;
    }

    &:nth-child(2n+1) {
      padding-right: 10px;
    }
    
    &:nth-child(2n) {
      padding-left: 10px;
    }
  }
}

.flex-md-50 {
  @media ($middle-width) {
    & {
      width: 50%;
    }

    &:nth-child(2n+1) {
      padding-right: 10px;
    }
  
    &:nth-child(2n) {
      padding-left: 10px;
    }
  }
}
.flex-100 {
  width: 100%;
}

.flex-sm-80 {
  @media ($small-width) {
    & {
      width: 80%;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap;
  
  @media ($small-width) {
    & {
      flex-wrap: nowrap;
    }
  }
}

.flex-md-wrap {
  flex-wrap: wrap;
  
  @media ($middle-width) {
    & {
      flex-wrap: nowrap;
    }
  }
}

.link {
  text-decoration: none;

  &--primary {
    color: mat-color($primary);
  }

  &--accent {
    color: mat-color($accent);
  }

  &--light-primary {
    color: $light-primary-text;
  }
}
